
.CODECYAN {
  background      : url("/_images/toggleC.png");
}
.SPACESHIPS {
  background      : url("/_images/toggle_sC.png");
}

.Alt {
    color           : #FFCC00;
}

#orbit h1::before {
    border          : 4px solid #6FC0BA;
}

.container-border {
    border          : 2px solid #6fc0ba;
    box-shadow      : 0 0 2px #005b8e, inset 0 0 2px #005b8e;
}

#scoreboard #grid .fncSB p {
  background-color  : rgba(111,192,186, 0.25);
  border            : 1px solid #6FC0BA;
}

.imgfolder {
    background      : url("/_images/folder_default.png");
}
.imgfolder:hover {
    cursor          : pointer;
    background      : url("/_images/folder_selected.png");
}

.bottom_bar {
    border-bottom   : 1px solid #6FC0BA;
}

.smallfolder, .smallfolder:hover {
    background-repeat:no-repeat;
    background-size : 200px 160px;
    width           : 216px;
    height          : 176px;
    margin          : 8px;
}

.adm-border {
    border          : 2px solid #6fc0ba;
}
