/*lichtere, extra overlayende stylesheet voor het geval dat dit getoggled word.*/
html {background:url("/_images/citadel_75.jpg");}
.Gy {color:#838383;}
.imgfolder p span:hover, .imgfolder span:hover, .buItem:hover, .adm_box:hover {background-color:#4b4a4a;}
