
.borders {
  border        : 2px solid #FFCC00;
}

.CODECYAN {
  background    : url("/_images/toggleY.png");
}
.SPACESHIPS {
  background    : url("/_images/toggle_sY.png");
}

.imgfolder {
    background  : url("/_images/folder_default_Y.png");
}
.smallfolder, .smallfolder:hover {
    background-size: 166px 130px;
    background-position: center;
}
.imgfolder:hover {
    cursor      : pointer;
    background  : url("/_images/folder_selected_Y.png");
}

.agentBarCont {
  background-color: rgba(255, 204, 0, 0.15);
  border: 1px solid #FFCC00;
}

#orbit h1::before {
  border      : 4px solid #FFCC00;
}

.btn-gubat, .btn-gubat .glyphicon {
  color           : #FFCC00;
  border-color    : #FFCC00;
}
.btn-gubat:hover, .btn-gubat:hover .glyphicon {
  border-color    : #FFCC00;
  background-color: #FFCC00;
}
.btn-gubat-alt, .btn-gubat-alt .glyphicon {
  color           : #00EEEE;
  border-color    : #00EEEE;
}
.btn-gubat-alt:hover, .btn-gubat-alt:hover .glyphicon {
  border-color    : #00EEEE;
  background-color: #00EEEE;
}
