/*ORBIT ANIMATIE*/

#orbit {
    position: absolute;
}

#orbit h1 {
    margin: 0;
    display: flex;
    /*justify-content: center;*/
    position: absolute;
    top: 16px;
    top: 1rem;
}

#orbit h1::before {
    content     : "";
    display     : block;
    position    : absolute;
    z-index     : -1;
    width       : 90px;
    height      : 90px;
    border-radius: 50%;
    border      : 4px solid /*currentColor #6FC0BA;#F0C60C;*/ #FFCC00;
    box-sizing  : border-box;
    left        : 184px; /* bij Polymorphics zonder tekst ervoor : 34px; */
}

#orbit em {
    font-family : sans-serif;
    color       : currentColor;
    position    : relative;
    font-style  : normal;
    /*text-align  : center;*/
    top         : 26px;
}

#orbit em.planet {
    -webkit-animation   : planet-rotate 3s linear infinite;
    animation           : planet-rotate 3s linear infinite;
    position            : relative;
    z-index             : -1;
}

#orbit em.planet::before {
    content     : "";
    position    : absolute;
/*    top         : -.5vmin;
    left        : 3.5vmin;*/
    z-index     : -1;
    width       : 24px;
    height      : 24px;
    border-radius: 50%;
    background  : black;
}

#orbit em.planet.left {
    -webkit-transform-origin: 58px 25px;  /* 58px is 34 + 24px, 24px is 3 letters? */
    transform-origin: 58px 25px;
}

#orbit em.planet.right {
    -webkit-transform-origin: -33px 25px; /* !!! 34 is het magische mingetal? !!! */
    transform-origin: -33px 25px;
}

@media (max-width: 1204px) {

    #orbit h1 {
        left: 16px;
        left: 1rem;
    }

    #orbit h1::before {
        left: 186px;
    }

    #orbit em.planet {
        -webkit-animation   : planet-rotate 0s linear none;
       animation           : planet-rotate 0s linear none;
       position            : relative;
    }
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
