

.Ye     {color:#FFCC00;}
.Cy     {color:#00EEEE;}
.Or     {color:#FF9933;}
.Gy     {color:#737373;}
.Rd     {color:#e80000;}
.Alt    {color:#00EEEE;}
.Gy, .blinktext {
    -webkit-animation   : GrayHX  1.6s linear infinite;
    -moz-animation      : GrayHX  1.6s linear infinite;
    -animation          : GrayHX  1.6s linear infinite;
}
.online, .offline, .hosting, .critical, .offworld, .unknown {
    border-radius   : 3px;
    padding         : 3px;
    text-shadow     : 1px #000;
    color           : #FFF;
}
.online     {background: rgba(166, 216, 83, 0.7);}
.offline    {background: #737373;}
.hosting    {background: #005B8E;}
.critical   {background: #990000;}
.unknown    {background: #FF9933;}
.offworld   {background: #880088;}



/* main box */
.borders {
  /*border            : 2px solid #FFCC00;*/
  border              : 2px solid #6fc0ba;
  border-radius       : 5px;
}
  .boxLeft {
    min-height        : 54px;
    margin-bottom     : 8px;
    width             : 100%;
    padding-top       : 12px;
    padding-bottom    : 11px;
  }
  .logoBar {
    min-height        : 96px;
    z-index           : -5;
  }
  .seperate-1 {margin-bottom:18px;}

#loading {
    position    : absolute;
    right       : 30%;
    z-index     : 3;
    top         : 120px;
    visibility  : hidden;

    -webkit-animation   : Loading 1.3s linear forwards;
    -moz-animation      : Loading 1.3s linear forwards;
    -animation          : Loading 1.3s linear forwards;
    animation-delay         : 0.4s;
    -moz-animation-delay    : 0.4s;
    -webkit-animation-delay : 0.4s;
}

.container_inside {
  min-height          : 800px;

  -webkit-animation   : FadeInLoad  0.9s linear;
  -moz-animation      : FadeInLoad  0.9s linear;
  -animation          : FadeInLoad  0.9s linear;
}

.container_outside {
  background          : #000;
  box-sizing          : content-box;
  padding-top         : 7px;
  padding-bottom      : 9px;
  z-index             : 0;

  -webkit-animation   : BorderDash  0.3s linear;
  -moz-animation      : BorderDash  0.3s linear;
  -animation          : BorderDash  0.3s linear;
}

/* herbruikbare classes */
.mZero  { margin-left     : 0;    margin-right        : 0; }
.pZero  { padding-left    : 0;    padding-right       : 0; }
.row1   { animation-delay : 0.6s; -moz-animation-delay: 0.6s; -webkit-animation-delay: 0.6s; min-height: 29rem;}
.row2   { animation-delay : 1.4s; -moz-animation-delay: 1.4s; -webkit-animation-delay: 1.4s;}
.row3   { animation-delay : 1.1s; -moz-animation-delay: 1.1s; -webkit-animation-delay: 1.1s;}
.row1, .row2, .row3, .row_adm {
  visibility          : hidden;
  -webkit-animation   : Blox  0.4s linear forwards;
  -moz-animation      : Blox  0.4s linear forwards;
  -animation          : Blox  0.4s linear forwards;
}

.b1,.b2 {
    -webkit-animation   : Blox  0.6s linear forwards;
    -moz-animation      : Blox  0.6s linear forwards;
    -animation          : Blox  0.6s linear forwards;
    visibility:hidden;
}
.b1 { animation-delay: 1s;   -moz-animation-delay: 1s;   -webkit-animation-delay: 1s;    }
.b2 { animation-delay: 1.2s; -moz-animation-delay: 1.2s; -webkit-animation-delay: 1.2s;  }


/* MOTTO */
.static-icon {
  position  : absolute;
  font-size : 21px;
  font-size : 1.3rem;
  margin-top: 6px;
}

.motto {
    float       : left;
    font-weight : 600;
    overflow    : hidden;
    height      : 35px;
    font-family : sans-serif;
}
.motto ul {
    margin-left         : -12px;
    list-style          : none;
    animation           : slidemotto 16s linear 0s normal infinite;
    -moz-animation      : slidemotto 16s linear 0s normal infinite;
    -webkit-animation   : slidemotto 16s linear 0s normal infinite;
        animation-delay         : 1s;
        -moz-animation-delay    : 1s;
        -webkit-animation-delay : 1s;
}
.motto ul li {
    line-height : 40px;
    margin-left : 0px;
}

    .bottom_bar {
        border-bottom: 1px solid #FFCC00;
    }

.bar {
   border-bottom: 1px solid #737373;
   border-top   : 1px solid #737373;
   font-size    : 75%;
   flex-direction: row;
   margin-bottom: 4px;
   margin-top   : 2px;
}

    /*border-top    : 3px solid #FF9933;
    border-bottom : 1px solid #FF9933;*/

    .clockContainer #clock {
      color       : #AAA;
      overflow    : hidden;
      font-size   : 64px;
      font-size   : 4rem;
    }


/* DEFAULT RIGHT */
#grid .item {
    -webkit-animation   : Blox  0.4s linear forwards;
    -moz-animation      : Blox  0.4s linear forwards;
    -animation          : Blox  0.4s linear forwards;
    visibility          : hidden;
}
#grid .s1 {animation-delay: 2.0s; -moz-animation-delay: 2.0s; -webkit-animation-delay: 2.0s;}
#grid .s2 {animation-delay: 2.2s; -moz-animation-delay: 2.2s; -webkit-animation-delay: 2.2s;}
#grid .s3 {animation-delay: 2.4s; -moz-animation-delay: 2.4s; -webkit-animation-delay: 2.4s;}
#grid .s4 {animation-delay: 2.6s; -moz-animation-delay: 2.6s; -webkit-animation-delay: 2.6s;}

.imgfolder {
    box-sizing: border-box;
    background-repeat:no-repeat;
    height      : 250px;
    width       : 246px;
    background  : url("/_images/folder_default.png");
    /*background  : url("/_images/folder_default_Y.png");*/
    background-repeat: no-repeat !important;
    transition  : 0.4s;
}
.imgfolder p {
    position    : relative;
    top         : 210px;
}
.imgfolder p span {
  padding     : 3px;
}
.imgfolder:hover {
    color       : #FFCC00;
    cursor      : pointer;
    background  : url("/_images/folder_selected.png");
    /*background  : url("/_images/folder_selected_Y.png");*/
        -webkit-animation   : FadeInLoad  0.1s linear;
        -moz-animation      : FadeInLoad  0.1s linear;
        -animation          : FadeInLoad  0.1s linear;
    transition  : 0.2s;
}
.imgfolder p span:hover, .imgfolder span:hover {
  background-color : #333;
  border-radius    : 3px;
}

.imgfolder:active{
    position    : relative;
    top         : 1px;
}

.smallfolder, .smallfolder:hover {
    background-repeat:no-repeat;
    background-size : 200px 160px;
    width           : 216px;
    height          : 176px;
    margin          : 8px;
}
