/* KLEUREN PALETTE /////////////////////////////
// hologram interface blauw ///////////////////

	=basis=
	default holoblauw	   - #6FC0BA - rgb(111,192,186)
	aquilablauw(shadow)	 - #005B8E - rgba(0,91,142)
	zwart bg		         - #000
	gallentekleur		     - rgb(38, 233, 202)
	contrast-oranje		   - #FF9933 - rgb(255,153,51)

	=tekst=
	text wit	  - #FFF
	gubat geel	- #FFCC00
	ultra cyan	- #00EEEE

	==status==
	online:groen 	  - rgb(0,128,0)
	blok:groen 	    - rgb(166, 216, 83)
	offline:grijs 	- #737373 - hsla(0, 0%, 100%, 0.45)
  crit:rood       - #990000




/* //// AMBER ALERT /// */
/*
#F0C60C     - default?
#E2DE84     - vaag
#D1B800     - donkerder
#EFCA08     - donker
#FFCC00     - gubat geel

#EDDA09     - erg geel
///////////////
#808808 - olijfgroen COINCIDENCE I FINK NT
#808 // #880088 - royaal dugo paars

/////
////
///
*/

body {
  background  : url("/_images/citadel_85.jpg");
}

h3.bordered {
  border-bottom : 1px solid #333;
}

select, option, option .glyphicon {
  color         : #222;
}

.m15    {margin:15px 0 0 0;}

.Ye     {color:#FFCC00;}
.Cy     {color:#00EEEE;}
.Or     {color:#FF9933;}
.Gy     {color:#737373;}
.Rd     {color:#e80000;}
.Alt    {color:#00EEEE;}
.Gy, .blinktext {
    -webkit-animation   : GrayHX  1.6s linear infinite;
    -moz-animation      : GrayHX  1.6s linear infinite;
    -animation          : GrayHX  1.6s linear infinite;
}
.online, .offline, .hosting, .critical, .offworld, .unknown {
    border-radius   : 3px;
    padding         : 3px;
    text-shadow     : 1px #000;
    color           : #FFF;
}
.online     {background: rgba(166, 216, 83, 0.7);}
.offline    {background: #737373;}
.offlineDark{background: #444444;}
.hosting    {background: #005B8E;}
.critical   {background: #990000;}
.unknown    {background: #FF9933;}
.offworld   {background: #880088;}

.SPACESHIPS {
  height    : 31px;
  cursor    : pointer;
  background: url("/_images/toggle_sC.png");
  position  : relative;
}
.SPACESHIPS:active {
  top       : 2px;
}

.CODECYAN {
  background  : url("/_images/toggleC.png");
  height      : 60px;
  width       : 140px;
  position    : absolute;
  z-index     : 2;
  top         : 36px;
  right       : 0;
  transition  : 0.2s;
  -webkit-animation   : BorderDash  0.5s linear;
  -moz-animation      : BorderDash  0.5s linear;
  -animation          : BorderDash  0.5s linear;
  cursor    : pointer;
}
  .CODECYAN:active {
      top         : 37px;
  }


/* main box */
.borders {
  /*border            : 2px solid #FFCC00;*/
  border              : 2px solid #6fc0ba;
  border-radius       : 5px;
}
  .boxLeft {
    min-height        : 54px;
    margin-bottom     : 8px;
    width             : 100%;
    padding-top       : 12px;
    padding-bottom    : 11px;
  }
  .logoBar {
    min-height        : 96px;
    z-index           : -5;
  }
  .seperate-1 {margin-bottom:18px;}

  .bar-right {
    float         : right;
    cursor        : pointer;
    transition    : 0.3s;
    padding-right : 3px;
    padding-left  : 3px;
    border-radius : 1px;
  }
  .bar-right:hover {
    background  : #444;
  }

#loading {
    position    : absolute;
    right       : 30%;
    z-index     : 3;
    top         : 120px;
    visibility  : hidden;

    -webkit-animation       : Loading 1.3s linear forwards;
    -moz-animation          : Loading 1.3s linear forwards;
    -animation              : Loading 1.3s linear forwards;
    animation-delay         : 0.4s;
    -moz-animation-delay    : 0.4s;
    -webkit-animation-delay : 0.4s;
}
#loadingMobile  {
    position    : fixed;
    right       : 33%;
    top         : 33%;
    z-index     : 3;
    visibility  : hidden;
    -webkit-animation       : Loading 1.3s linear forwards;
    -moz-animation          : Loading 1.3s linear forwards;
    -animation              : Loading 1.3s linear forwards;
    animation-delay         : 0.4s;
    -moz-animation-delay    : 0.4s;
    -webkit-animation-delay : 0.4s;
}

.container_inside {
  min-height          : 800px;

  -webkit-animation   : FadeInLoad  0.9s linear;
  -moz-animation      : FadeInLoad  0.9s linear;
  -animation          : FadeInLoad  0.9s linear;
}

.container_outside {
  background          : #000;
  box-sizing          : content-box;
  padding-top         : 7px;
  padding-bottom      : 9px;
  z-index             : 0;

  -webkit-animation   : BorderDash  0.3s linear;
  -moz-animation      : BorderDash  0.3s linear;
  -animation          : BorderDash  0.3s linear;
}
@media(max-width:769px){
  .container_outside {
    padding: 0;
  }
}

p.console, .console {
  font-family : 'Inconsolata', consolas, sans-serif;
  font-size   : 1rem;
}


/* herbruikbare classes */
.fnc       {
  padding           : 2px 4px;
  cursor            : pointer;
}
.fnc:hover {
  border-radius     : 2px;
  background-color  : #222;
  color             : #EEE;
  border-bottom     : 1px solid #003333;
}

.mZero  { margin-left     : 0;    margin-right        : 0; }
.pZero  { padding-left    : 0;    padding-right       : 0; }
.row1   { animation-delay : 0.6s; -moz-animation-delay: 0.6s; -webkit-animation-delay: 0.6s; min-height: 29rem;}
.row2   { animation-delay : 1.4s; -moz-animation-delay: 1.4s; -webkit-animation-delay: 1.4s;}
.row3   { animation-delay : 1.1s; -moz-animation-delay: 1.1s; -webkit-animation-delay: 1.1s;}
.row1, .row2, .row3, .row_adm {
  visibility          : hidden;
  -webkit-animation   : Blox  0.4s linear forwards;
  -moz-animation      : Blox  0.4s linear forwards;
  -animation          : Blox  0.4s linear forwards;
}

.b1,.b2,.b3,.b4 {
    -webkit-animation   : Blox  0.6s linear forwards;
    -moz-animation      : Blox  0.6s linear forwards;
    -animation          : Blox  0.6s linear forwards;
    visibility:hidden;
}
.b1 { animation-delay: 1s;   -moz-animation-delay: 1s;   -webkit-animation-delay: 1s;    }
.b2 { animation-delay: 1.2s; -moz-animation-delay: 1.2s; -webkit-animation-delay: 1.2s;  }
.b3 { animation-delay: 1.4s; -moz-animation-delay: 1.4s; -webkit-animation-delay: 1.4s;  }
.b4 { animation-delay: 1.6s; -moz-animation-delay: 1.6s; -webkit-animation-delay: 1.6s;  }

.noselect {
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;
    user-select: none;
}

/* LOGO */
#orbit h1 {
  font-weight : bold;
  font-size   : 32px;
  text-shadow : 2px 2px 2px #000;
}
#orbit h1::before {
  border      : 4px solid #6FC0BA;
}


/* MOTTO */
.static-icon {
  position  : absolute;
  font-size : 21px;
  font-size : 1.3rem;
  margin-top: 6px;
}

.motto {
    float       : left;
    font-weight : 600;
    overflow    : hidden;
    height      : 35px;
    font-family : sans-serif;
}
.motto ul {
    margin-left         : -12px;
    list-style          : none;
    animation           : slidemotto 16s linear 0s normal infinite;
    -moz-animation      : slidemotto 16s linear 0s normal infinite;
    -webkit-animation   : slidemotto 16s linear 0s normal infinite;
        animation-delay         : 1s;
        -moz-animation-delay    : 1s;
        -webkit-animation-delay : 1s;
}
.motto ul li {
    line-height : 40px;
    margin-left : 0px;
}

    .bottom_bar {
        border-bottom: 1px solid #FFCC00;
    }

.bar {
   border-bottom: 1px solid #737373;
   border-top   : 1px solid #737373;
   font-size    : 75%;
   flex-direction: row;
   margin-bottom: 4px;
   margin-top   : 2px;
}
.bar .bar-label {
  padding       : 1px 2px 2px 2px;
  border-radius : 0;
}

#statusBars {
  max-width: 250px;
}
#statusBars .statusName {
  font-size : 85%;
  width     : 83px;
}

    /*border-top    : 3px solid #FF9933;
    border-bottom : 1px solid #FF9933;*/

    .clockContainer #clock {
      color       : #AAA;
      overflow    : hidden;
      font-size   : 64px;
      font-size   : 4rem;
    }
    @media(max-width:1280px){
      .clockContainer #clock {
        font-size   : 48px;
        font-size   : 3rem;
      }
    }


/* DEFAULT RIGHT */
/*#grid .item {
    -webkit-animation   : Blox  0.4s linear forwards;
    -moz-animation      : Blox  0.4s linear forwards;
    -animation          : Blox  0.4s linear forwards;
    visibility          : hidden;
    box-sizing          : border-box;
    min-width           : 250px;
}
#grid .s1 {animation-delay: 2.0s; -moz-animation-delay: 2.0s; -webkit-animation-delay: 2.0s;}
#grid .s2 {animation-delay: 2.2s; -moz-animation-delay: 2.2s; -webkit-animation-delay: 2.2s;}
#grid .s3 {animation-delay: 2.4s; -moz-animation-delay: 2.4s; -webkit-animation-delay: 2.4s;}
#grid .s4 {animation-delay: 2.6s; -moz-animation-delay: 2.6s; -webkit-animation-delay: 2.6s;}*/

.imgfolder {
    box-sizing: border-box;
    background-repeat:no-repeat;
    height      : 250px;
    width       : 246px;
    background  : url("/_images/folder_default.png");
    /*background  : url("/_images/folder_default_Y.png");*/
    background-repeat: no-repeat !important;
    transition  : 0.6s;
    margin-left :auto;
    margin-right:auto;
}
.imgfolder p {
    position    : relative;
    top         : 210px;
}
.imgfolder p span {
  padding     : 3px;
}
.imgfolder:hover {
    color       : #FFCC00;
    cursor      : pointer;
    background  : url("/_images/folder_selected.png");
    /*background  : url("/_images/folder_selected_Y.png");*/
        -webkit-animation   : FadeInLoad  0.1s linear;
        -moz-animation      : FadeInLoad  0.1s linear;
        -animation          : FadeInLoad  0.1s linear;
    transition  : 0.6s;
}
.imgfolder p span:hover, .imgfolder span:hover {
  color            : #FFCC00;
  background-color : #333;
  border-radius    : 3px;
}

.imgfolder:active{
    position    : relative;
    top         : 1px;
}

.smallfolder, .smallfolder:hover {
    background-repeat:no-repeat;
    background-size : 154px 130px;
    background-position: center;
    width           : 90%;
    height          : 130px;
    margin          : 8px;
}

/* status pagina */
.statusBlock {
  min-height   : 212px;
  padding      : 3px;
}
.statusBlock h3 {
  font-size: 18px;
}
  .statusBlock .block {
    padding    : 4px;
    min-height : 214px;
    height     : 100%;
  }

  .statustable {
    font-size   : 100%;
    font-size   : 1rem;
    margin      : 2px;
  }
    table.statustable     { padding-bottom  : 16px; }
    .statustable.table td, .statustable.table tr  { border: 0!important; padding: 2px 2px 2px 5px; font-size: 0.9rem; }

/*scoreboard*/
.agentBarCont {
  padding     : 12px;
  background  : rgba(111,192,186, 0.25);
  border      : 1px solid #6FC0BA;
  transition  : 0.2s;
  cursor      : pointer;
}
  .agentBarCont:hover {
    box-shadow  : inset 0 0 0 2px #aaa;
  }
a.agentBar {
  text-align  : center;
  color       : #FFF;
  padding     : 12px;
  margin      : 0;

}
a.agentBar {
  width       : 100%;
}
/* bulletin */
.bulletinPage {
  display: none;
}
.bulletinPage.visible {
  display: block;
}

.bulletinItem {
  border-radius : 0 16px 0 0;
  padding       : 3px 3px 3px 12px;
  border-bottom : 1px solid #002222;
}
  .bulletinItem:hover {
    background  : #1F1F1F;
    cursor      : default;
  }

/* 404 en spaceships */

.overlay-card {
  z-index         : 2;
  background      : rgba(0, 0, 0, 0.8);
  box-shadow      : 1px 1px 1rem rgba(0, 0, 0, 0.8);
  position        : fixed;
  top             : 40%;
  left            : 40%;
  border-radius   : 1rem;
  padding         : 2rem;
  transition      : 0.2s;
}
.overlay-card:hover {
  background        : rgba(0, 0, 0, 0.6);
  border            : 1px solid rgba(255, 204, 0, 0.39);
  transform         : scale(1.3);
}
  .overlay-card h1, .overlay-card a h1, a:link, a:hover, a:visited {
    z-index         : 3;
    text-decoration : none;
  }
video#bgvid {
    position  : fixed;
    top       : 50%;
    left      : 50%;
    min-width : 100%;
    min-height: 100%;
    width     : auto;
    height    : auto;
    z-index   : -2;
    -ms-transform     : translateX(-50%) translateY(-50%);
    -moz-transform    : translateX(-50%) translateY(-50%);
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform         : translateX(-50%) translateY(-50%);
    background-size   : cover;
}
/* MAP TILES */
.mapTile {
  padding     : 1px 1px 1px 1px;
  border      : 1px solid #222;
  transition  : 0.4s;
}
  .mapSmall {
    margin: 20px 0 0 0;
  }

img.drone {
  width : 90px;
  height: 90px;
}
  .droneblock p {
    margin-top: 0;
  }
  .droneblock h4 {
    margin-top: 6px;
  }
  .droneblock hr {
    border: 1px solid #222;
  }

@media(max-width:768px){
  img.drone{
    width: 44px;
    height: 44px;
  }
}

/* BTN's custom */
  .btn-gubat, .btn-gubat .glyphicon {
    color           : #00EEEE;
    border-color    : #00EEEE;
    background-image: none;
    background-color: transparent;
  }
  .btn-gubat:hover, .btn-gubat:hover .glyphicon, .btn-gubat.active, .btn-gubat.active .glyphicon {
    /*color           : #FFFFFF;*/
    color           : #222222;
    border-color    : #00EEEE;
    background-color: #00EEEE;
  }
  .btn-gubat-alt, .btn-gubat-alt .glyphicon {
    color           : #FFCC00;
    border-color    : #FFCC00;
    background-image: none;
    background-color: transparent;
  }
  .btn-gubat-alt:hover, .btn-gubat-alt:hover .glyphicon, .btn-gubat-alt.active, .btn-gubat-alt.active .glyphicon {
    /*color           : #FFFFFF;*/
    color           : #222222;
    border-color    : #FFCC00;
    background-color: #FFCC00;
  }
/* input-group-addon: */
.btn-IGA {
  color           : #FFF;
  font-weight     : 300;
  background-color: #0275D8;
  border-color    : #074d8a;
  cursor          : pointer;
}
.btn-IGA:hover {
  background-color: #074d8a;
}

/* normaal: */
  .btn-primary-outline  {  color: #0275D8;     border-color: #0275D8;    background-image: none;   background-color: transparent; }
  .btn-secondary-outline { color: #CCCCCC;     border-color: #CCCCCC;    background-image: none;   background-color: transparent; }
  .btn-success-outline  {  color: #5CB85C;     border-color: #5CB85C;    background-image: none;   background-color: transparent; }
  .btn-warning-outline {   color: #F0AD4E;     border-color: #F0AD4E;    background-image: none;   background-color: transparent; }
  .btn-danger-outline  {   color: #D9534F;     border-color: #D9534F;    background-image: none;   background-color: transparent; }

/* hover: */
  .btn-primary-outline:hover  {  color: #FFF;     border-color: #0275D8;    background-color: #0275D8; }
  .btn-secondary-outline:hover { color: #FFF;     border-color: #CCCCCC;    background-color: #CCCCCC; }
  .btn-success-outline:hover  {  color: #FFF;     border-color: #5CB85C;    background-color: #5CB85C; }
  .btn-warning-outline:hover {   color: #FFF;     border-color: #F0AD4E;    background-color: #F0AD4E; }
  .btn-danger-outline:hover  {   color: #FFF;     border-color: #D9534F;    background-color: #D9534F; }



  /* ADM */
  .keypad-row .btn.btn-gubat {
    padding-top:30px;
    padding-bottom:30px;
    font-size: 3rem;
    border-radius: 0;
  }
  .keypad-row #writekeys {
    background      : #CCC;
    color           : #222;
    font-size       : 32px;
    font-size       : 2rem;
    padding         : 4px;
    max-width       : 100%;
    border-radius   : 5px;
    margin-bottom   : 2rem;
  }
  @media(max-width:769px) {
    .keypad-row .btn.btn-gubat {
      padding-top:26px;
      padding-bottom:26px;
      font-size: 2rem;
    }
  }
  @media(min-width:1201px) {
    .keypad-row .btn.btn-gubat {
      padding-top:52px;
      padding-bottom:52px;
      font-size: 3rem;
    }
  }


  #hexGrid .hex, #hexGrid { /* Declare animatie */
      -webkit-animation   : FadeInLoad  0.4s linear forwards;
      -moz-animation      : FadeInLoad  0.4s linear forwards;
      -animation          : FadeInLoad  0.4s linear forwards;
      visibility          : hidden;
  }
  /*declare volgorde 1t/m 4*/
  /*#hexGrid .hex .s1 {animation-delay: 2.0s; -moz-animation-delay: 2.0s; -webkit-animation-delay: 2.0s;}
  #hexGrid .hex .s2 {animation-delay: 2.2s; -moz-animation-delay: 2.2s; -webkit-animation-delay: 2.2s;}
  #hexGrid .hex .s3 {animation-delay: 2.4s; -moz-animation-delay: 2.4s; -webkit-animation-delay: 2.4s;}
  #hexGrid .hex .s4 {animation-delay: 2.6s; -moz-animation-delay: 2.6s; -webkit-animation-delay: 2.6s;}*/
