

.Ye     {color:#FFCC00;}
.Cy     {color:#00EEEE;}
.Or     {color:#FF9933;}
.Gy     {color:#737373;}
.Rd     {color:#e80000;}
.Alt    {color:#00EEEE;}
.Gy, .blinktext {
    -webkit-animation   : GrayHX  1.6s linear infinite;
    -moz-animation      : GrayHX  1.6s linear infinite;
    -animation          : GrayHX  1.6s linear infinite;
}


/* main box */
.borders {
  /*border            : 2px solid #FFCC00;*/
  border              : 2px solid #6fc0ba;
  border-radius       : 5px;
}
  .boxLeft {
    min-height        : 54px;
    margin-bottom     : 8px;
    width             : 100%;
    padding-top       : 12px;
    padding-bottom    : 11px;
  }
  .logoBar {
    min-height        : 64px;
  }

.container_inside {
  min-height          : 800px;

  -webkit-animation   : FadeInLoad  0.9s linear;
  -moz-animation      : FadeInLoad  0.9s linear;
  -animation          : FadeInLoad  0.9s linear;
}

.container_outside {

  box-sizing          : content-box;
  padding-top         : 7px;
  padding-bottom      : 9px;
  z-index             : 0;

  -webkit-animation   : BorderDash  0.3s linear;
  -moz-animation      : BorderDash  0.3s linear;
  -animation          : BorderDash  0.3s linear;
}

/* herbruikbare classes */
.mZero  { margin-left     : 0;    margin-right        : 0; }
.pZero  { padding-left    : 0;    padding-right       : 0; }
.row1   { animation-delay : 0.6s; -moz-animation-delay: 0.6s; -webkit-animation-delay: 0.6s; min-height: 29rem;}
.row2   { animation-delay : 1.4s; -moz-animation-delay: 1.4s; -webkit-animation-delay: 1.4s;}
.row3   { animation-delay : 1.1s; -moz-animation-delay: 1.1s; -webkit-animation-delay: 1.1s;}

.b1,.b2 {
    -webkit-animation   : Blox  0.6s linear forwards;
    -moz-animation      : Blox  0.6s linear forwards;
    -animation          : Blox  0.6s linear forwards;
    visibility:hidden;
}
.b1 {animation-delay: 1s; -moz-animation-delay: 1s; -webkit-animation-delay: 1s;}
.b2 {animation-delay: 1.2s; -moz-animation-delay: 1.2s; -webkit-animation-delay: 1.2s;}


/* MOTTO */
.static-icon {
  position  : absolute;
  font-size : 21px;
  font-size : 1.3rem;
  margin-top: 6px;
}

.motto {
    float       : left;
    font-weight : 600;
    overflow    : hidden;
    height      : 35px;
    font-family : sans-serif;
}
.motto ul {
    margin-left         : -12px;
    list-style          : none;
    animation           : slidemotto 11s linear 0s normal infinite;
    -moz-animation      : slidemotto 11s linear 0s normal infinite;
    -webkit-animation   : slidemotto 11s linear 0s normal infinite;
        animation-delay         : 1s;
        -moz-animation-delay    : 1s;
        -webkit-animation-delay : 1s;
}
.motto ul li {
    line-height : 40px;
    margin-left : 0px;
}

    .bottom_bar {
        border-bottom: 1px solid #FFCC00;
    }

.bar {
   border-bottom: 1px solid #737373;
   border-top   : 1px solid #737373;
   font-size    : 75%;
   flex-direction: row;
   margin-bottom: 4px;
   margin-top   : 2px;
}
